@model List<RR_RoadWays_Services.Models.DataValidation>;
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <div class="m-2 text-center border-bottom">
        <h3>Data Validation</h3>    
    </div>
    <div class="m-2 float-right">
        <input type="button" class="btn btn-dark" value="Add New" onclick="location.href='@Url.Action("Add", "Home")'" />
    </div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>SRP (A&B)</th>
                <th>PRP</th>
                <th>KPK(Route Permit)</th>
                <th>Tax Paper</th>
                <th>Fitness</th>
                <th>Isurance</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function () {
        let userRole = "@String.Format(User.Claims.FirstOrDefault(x => x.Type.Contains("role")).Value)"
        var table = $('#example').DataTable({
            "ajax": "/Home/getDataValidationDetails",
            "ordering": false,
            "columns": [
                { "data": "Vehicle" },
                { "data": "Srp"},
                { "data": "Prp"},
                { "data": "KpkRp" },
                { "data": "TaxPaper" },
                { "data": "Fitness" },
                { "data": "Insurance" },
                { "data": "" },
            ],
            'rowCallback': function (row, data, index) {
                let days = 15;
                let currentdate = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate();
                let srp = new Date(data['Srp']);
                srp.setDate(srp.getDate() - days);
                srp = srp.getFullYear() + '-' + (srp.getMonth()+1) + '-' + srp.getDate() ;
                let prp = new Date(data['Prp']);
                prp.setDate( prp.getDate() - days );
                prp = prp.getFullYear()+ '-' + (prp.getMonth()+1) + '-' + prp.getDate() ;
                let kpk = new Date(data['KpkRp']);
                kpk.setDate( kpk.getDate() - days );
                kpk = kpk.getFullYear()+ '-' + (kpk.getMonth()+1) + '-' + kpk.getDate() ;
                let taxpaper = new Date(data['TaxPaper']);
                taxpaper.setDate( taxpaper.getDate() - days );
                taxpaper = taxpaper.getFullYear()+ '-' + (taxpaper.getMonth()+1) + '-' + taxpaper.getDate() ;
                let fitness = new Date(data['Fitness']);
                fitness.setDate( fitness.getDate() - days );
                fitness = fitness.getFullYear()+ '-' + (fitness.getMonth()+1) + '-' + fitness.getDate() ;
                let insurance = new Date(data['Insurance']);
                insurance.setDate( insurance.getDate() - days );
                insurance = insurance.getFullYear()+ '-' + (insurance.getMonth()+1) + '-' + insurance.getDate() ;

                new Date(srp) <= new Date(currentdate) ? $(row).find('td:eq(1)').css('background-color', 'red') : $(row).find('td:eq(1)').css('background-color', 'none'); 
                new Date(prp) <= new Date(currentdate) ? $(row).find('td:eq(2)').css('background-color', 'red') : $(row).find('td:eq(2)').css('background-color', 'none'); 
                new Date(kpk) <= new Date(currentdate) ? $(row).find('td:eq(3)').css('background-color', 'red') : $(row).find('td:eq(3)').css('background-color', 'none'); 
                new Date(taxpaper) <= new Date(currentdate) ? $(row).find('td:eq(4)').css('background-color', 'red') : $(row).find('td:eq(4)').css('background-color', 'none'); 
                new Date(fitness) <= new Date(currentdate) ? $(row).find('td:eq(5)').css('background-color', 'red') : $(row).find('td:eq(5)').css('background-color', 'none'); 
                new Date(insurance) <= new Date(currentdate) ? $(row).find('td:eq(6)').css('background-color', 'red') : $(row).find('td:eq(6)').css('background-color', 'none'); 

                $(row).find('td:eq(1)').text(new Date(data['Srp']).getDate() + '-' + (new Date(data['Srp']).getMonth()+1) + '-' + new Date(data['Srp']).getFullYear());
                $(row).find('td:eq(2)').text(new Date(data['Prp']).getDate() + '-' + (new Date(data['Prp']).getMonth()+1) + '-' + new Date(data['Prp']).getFullYear());
                $(row).find('td:eq(3)').text(new Date(data['KpkRp']).getDate() + '-' + (new Date(data['KpkRp']).getMonth()+1) + '-' + new Date(data['KpkRp']).getFullYear());
                $(row).find('td:eq(4)').text(new Date(data['TaxPaper']).getDate() + '-' + (new Date(data['TaxPaper']).getMonth()+1) + '-' + new Date(data['TaxPaper']).getFullYear());
                $(row).find('td:eq(5)').text(new Date(data['Fitness']).getDate() + '-' + (new Date(data['Fitness']).getMonth()+1) + '-' + new Date(data['Fitness']).getFullYear());
                $(row).find('td:eq(6)').text(new Date(data['Insurance']).getDate() + '-' + (new Date(data['Insurance']).getMonth()+1) + '-' + new Date(data['Insurance']).getFullYear());
              },
            "columnDefs": [
                {
                    "data": null,
                    "defaultContent": userRole == "Admin" ? "<button id='edit' class='btn btn-dark'>Edit</button>": "",
                    "targets": -1,
                    "orderable": false,
                }
            ],
            error: function (error) {
            alert(error);
        }
        });

        $('#example tbody').on( 'click', '#edit', function () {
            var data = table.row( $(this).parents('tr') ).data();
            var url = '@Url.Action("Edit", "Home", new { id = "__id__" })';
            window.location.href = url.replace('__id__', data.Id);
        });

    });
</script>