@model RR_RoadWays_Services.Models.OverallModel;
@{
    ViewData["Title"] = "Overall";
}
<script>
    $(document).ready(function () {
        (function ($) {
        var opt;

        $.fn.printThis = function (options) {
            opt = $.extend({}, $.fn.printThis.defaults, options);

            var $element = (this instanceof jQuery) ? this : $(this);

            var strFrameName = ("printThis-" + (new Date()).getTime());

            var $iframe = $("<iframe id='" + strFrameName + "' style='display:none' src='about:blank'/>");

            if (!opt.debug) { $iframe.css({ position: "absolute", width: "0px", height: "0px", left: "-600px", top: "-600px" }); }

            $iframe.appendTo("body");

            var $doc = $("#" + strFrameName).contents();
            // allow iframe to fully render before action
            setTimeout(function () {

                // import page css
                if (opt.importCSS) {
                    $("link[rel=stylesheet]").each(function () {
                        var href = $(this).attr('href');
                        if (href) {
                            var media = $(this).attr('media') || 'all';
                            $doc.find("head").append("<link type='text/css' rel='stylesheet' href='" + href + "' media='" + media + "'>");
                        }
                    });
                }

                // add another stylesheet
                if (opt.loadCSS) {
                    $doc.find("head").append("<link type='text/css' rel='stylesheet' href='" + opt.loadCSS + "'>");

                }

                //grab outer container
                if (opt.printContainer) { $doc.find("body").append($element.outer()); }
                else { $element.each(function () { $doc.find("body").append($(this).html()); }); }

                //$doc.close();
                // print
                setTimeout(function () { ($iframe[0].contentWindow).print();}, 100);

                //removed iframe after 60 seconds
                setTimeout(
                    function () {
                        $iframe.remove();
                    },
                    (200)
                );
            }, 333);
        }


        $.fn.printThis.defaults = {
            debug: false, //show the iframe for debugging
            importCSS: true, // import page CSS
            printContainer: true, // grab outer container as well as the contents of the selector
            loadCSS: "" //path to additional css file
        };


        jQuery.fn.outer = function () {
            return $($('<div></div>').html(this.clone())).html();
        }
        })(jQuery);
    });
</script>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchform" }))
    {
        <div class="row mt-2">
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Vehicle Number</span>
                    </div>
                    @Html.DropDownListFor(model => model.VehicleNumber, (IEnumerable<SelectListItem>)ViewBag.vehicleId, "--- Select Vehicle ---", new { @class = "form-control", id = "VehicleDropDown", required = "required" })

                </div>
            </div>
            <div class="col-12 col-md-6">

            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">Start Date</span>
                    </div>
                    @Html.EditorFor(model => model.StartDate, new
                {
                    htmlAttributes = new { @class = "form-control", id = "startdate", required = "required" }
                })
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text width-100" id="inputGroup-sizing-sm">End Date</span>
                    </div>
                    @Html.EditorFor(model => model.EndDate, new
                {
                    htmlAttributes = new { @class = "form-control", id = "enddate", required = "required" }
                })
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="m-2 float-right">
                    <input type="button" id="searchbutton" class="btn btn-dark" value="Search" />
                    <input type="button" id="printbutton" class="btn btn-success" value="Print" />
                </div>
            </div>
        </div>
    }
<div class="row" id="reportprint">
    <div class="col-12 col-md-12 text-center">
        <h2>Overall Report</h2>
    </div>
    <div class="col-12 col-md-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text width-100" id="inputGroup-sizing-sm">Vehicle Number</span>
            </div>
            <div id="VehicleName" class="ml-3 mt-1 font-weight-bold">

            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text width-100" id="inputGroup-sizing-sm">Start Date</span>
            </div>
            <div id="StartDateValue" class="ml-3 mt-1 font-weight-bold">

            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text width-100" id="inputGroup-sizing-sm">End Date</span>
            </div>
            <div id="EndDateValue" class="ml-3 mt-1 font-weight-bold">

            </div>
        </div>
    </div>
    <div class="col-1 col-md-1"></div>
    <div class="col-10 col-md-10">
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-6 border border-secondary text-center">
                Profit
            </div>
            <div id="profit" class="col-6 col-md-6 border border-secondary text-center">
                0
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-6 border border-secondary text-center">
                Claim
            </div>
            <div id="claim" class="col-6 col-md-6 border border-secondary text-center">
                0
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-6 border border-secondary text-center">
                Maintenance
            </div>
            <div id="maintenance" class="col-6 col-md-6 border border-secondary text-center">
                0
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-6 border border-secondary text-center">
                Fixed Expense
            </div>
            <div id="fixedExpanse" class="col-6 col-md-6 border border-secondary text-center">
                0
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-6 col-md-6 border border-secondary text-center">
                Installment
            </div>
            <div id="installment" class="col-6 col-md-6 border border-secondary text-center">
                0
            </div>
        </div>
    </div>
    <div class="col-1 col-md-1"></div>
    <div class="col-12 col-md-6 mt-3"></div>
    <div class="col-12 col-md-6 mt-3">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text width-100" id="inputGroup-sizing-sm">Total Remaining</span>
            </div>
            <div id="totalAmount" class="ml-3 mt-1 font-weight-bold">
                0
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#VehicleDropDown').change(function () {
            var catText = $('#VehicleDropDown option:selected').text();
            $('#VehicleName').html(catText);
        });
         $('#startdate').change(function () {
             var catText = new Date($('#startdate').val()).toLocaleDateString('en-GB');
            $('#StartDateValue').html(catText);
         });
        $('#enddate').change(function () {
            var catText = new Date($('#enddate').val()).toLocaleDateString('en-GB');
            $('#EndDateValue').html(catText);
        });
        $('#printbutton').click(function () {
            $('#reportprint').printThis();
        });
        $('#searchbutton').click(function () {
            if ($('#VehicleDropDown option:selected').val()
                && $('#startdate').val()
                && $('#enddate').val()) {
                var data = {
                    StartDate: new Date($('#startdate').val()).toLocaleDateString('en-GB'),
                    EndDate: new Date($('#enddate').val()).toLocaleDateString('en-GB'),
                    VehicleNumber: $('#VehicleDropDown option:selected').val(),
                }

                $.ajax({
                    type: 'post',
                    url: "/Reports/getOverallReportData",
                    data: data,
                    success: function (result) {
                        var res = result.data;
                        $('#profit').html(res.Profit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#claim').html(res.Claim.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#maintenance').html(res.Maintenance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#fixedExpanse').html(res.FixedExpanse.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#installment').html(res.Installment.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $('#totalAmount').html(res.TotalRemaining.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                    },
                    error: function () {
                        alert("Error!")
                    }
                });
            }
            else {
                alert('Please enter mandatory fields (Vehicle Number, Start Date and End Date)');
            }

        });
    });

</script>


